<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello, World</div>
<a href="/main">Main page</a>
<form action="/registration" method="post">
    <div><input type="submit" value="Registr"/></div>
</form>
</body>
</html>